@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: DxGrafik;
	src: url("fonts/DxGrafik-SemiBold.otf");
}

:root {
	/* Palette */
	--background1: #fcfcfc;
	--background2: #f0f0f0;
	--text: #000000;
	--accent1: #435f2e;
	--accent2: #7aba42;

	/* Sizes */
	--displayHeight: 100vh;
	--displayWidth: 46vh;
	--bigLogoWidth: 130px;
	--smallLogoWidth: 100px;
	--bigTitle: 65px;
	--smallTitle: 40px;
	--subtitle: 24px;
	--paddingLR: 40px;
}

/* 1vh = 7.016 */

a:-webkit-any-link {
	text-decoration: none;
	cursor: pointer;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background2);
	/* overflow: hidden; */
}

#root {
	min-height: var(--displayHeight);
	width: var(--displayWidth);
	background-color: var(--background1);
	padding: 0 var(--paddingLR);
}

.home-container {
	height: calc(100% - 34vh);
	padding-top: 17vh;
	/* padding-bottom: 17vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.home-container .logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-container .logo-container .title {
	font-family: DxGrafik;
	color: var(--accent1);
	font-size: var(--bigTitle);
	margin: 0;
	margin-top: 30px;
}

.home-container .logo-container .logo {
	width: var(--bigLogoWidth);
}

.home-container .links-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	gap: 7vh;
}

.home-container .links-container .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-container .links-container .main .home-btn {
	background-color: var(--accent2);
	font-size: 16px;
	border: none;
	border-radius: 50px;
	padding: 15px 35px;
	color: white;
}

a {
	color: black;
}

.login {
	/* height: calc(100% - 30.7vh); */
	padding-top: 10.6vh;
	/* padding-bottom: 20.1vh; */
}

.register {
	/* height: calc(100% - 18.9vh); */
	padding-top: 5.3vh;
	/* padding-bottom: 8.3vh; */
}

.select-city {
	padding-top: 10.6vh;
}

.home-container.login .logo-container .logo,
.home-container.register .logo-container .logo,
.home-container.select-city .logo-container .logo {
	width: var(--smallLogoWidth);
}

.home-container.login .logo-container .title,
.home-container.register .logo-container .title,
.home-container.select-city .logo-container .title {
	font-family: DxGrafik;
	color: var(--accent1);
	font-size: var(--smallTitle);
	margin: 0;
	margin-top: 4.3vh;
}

.home-container.login .logo-container .subtitle,
.home-container.register .logo-container .subtitle {
	font-family: DxGrafik;
	color: var(--accent1);
	font-size: var(--subtitle);
	margin-top: 0;
	margin-bottom: 4.3vh;
}

.home-container.select-city .logo-container .subtitle {
	font-family: DxGrafik;
	color: var(--accent1);
	font-size: var(--subtitle);
	margin-top: 4.3vh;
}

.home-container.login form,
.home-container.register form,
.home-container.select-city form,
.user-container form {
	background-color: var(--background2);
	width: calc(44.2vh - 8vh);
	padding: 4.3vh;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2vh;
}

.home-container.login form div,
.home-container.register form div,
.home-container.select-city form div,
.user-container form div {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.home-container.login form input,
.home-container.register form input,
.home-container.select-city form select,
.user-container form input,
.user-container form select {
	padding: 5px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.home-container.register form div.name-surname-form,
.user-container form div.name-surname-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home-container.register form div.name-surname-form div,
.user-container form div.name-surname-form div {
	width: 45%;
}

.home-container.login form button,
.home-container.register form button,
.home-container.select-city form button {
	background-color: var(--accent2);
	font-size: 16px;
	border: none;
	border-radius: 50px;
	padding: 15px 35px;
	color: white;
}

.user-container form button {
	background-color: var(--accent2);
	border: none;
	border-radius: 50px;
	padding: 10px 25px;
	color: white;
}

.home-container.login form .login-info {
	display: none;
}

.home-container.login form .login-info.visible {
	display: block;
}

.header {
	position: absolute;
	width: var(--displayWidth);
	padding: 2vh 0;
	z-index: 99;
}

nav {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(var(--displayWidth) + 2 * var(--paddingLR));
	background-color: var(--accent1);
	height: 8.5vh;
	padding: 1vh 0;
}

nav img {
	width: 1.7rem;
	height: 1.7rem;
	/* width: 24px; */
	/* height: 24px; */
	filter: brightness(0) invert(1);
	transition: 0.3s;
}

.webcam {
	margin: var(--paddingLR) 0;
	aspect-ratio: 3/5;
	object-fit: cover;
	width: var(--displayWidth);
}

.snap-btn {
	position: absolute;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 50%;
	height: 10vh;
	background-color: var(--accent2);
	bottom: calc(2.3 * var(--paddingLR));
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.snap-btn img {
	height: 36px;
	filter: brightness(0);
}

.cancel-btn {
	position: absolute;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 50%;
	height: 5vh;
	background-color: red;
	top: calc(var(--paddingLR) - 2.5vh);
	right: 50%;
	transform: translateX(calc(var(--displayWidth) / 2 + 2.5vh));
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.cancel-btn img {
	height: 30px;
	filter: brightness(0) invert(1);
}

.searchbar {
	padding: 5px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 2vh;
}

.search-container {
	padding-top: var(--paddingLR);
	display: flex;
	flex-direction: column;
}

.search-card-container {
	margin-bottom: 8.5vh;
}

.card-search {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background2);
	border-radius: 15px;
	height: 21vh;
	margin: 3vh 0;
}

.card-search * {
	text-decoration: none;
}

.card-search img {
	aspect-ratio: 1/1;
	height: 15vh;
	padding: 0 3vh;
}

.card-search div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 3vh 3vh 3vh 0;
	width: 100%;
	height: 100%;
}

.card-search div h2 {
	margin: 0;
	margin-top: 3vh;
	width: 100%;
}

.card-search div h4 {
	font-size: 0.8rem;
	margin: 0;
	margin-bottom: 3vh;
	background-color: blue;
	padding: 1vh 2vh;
	color: white;
	border-radius: 10px;
}

.charts-container {
	margin: var(--paddingLR) 0;
}

.chart-container {
	height: calc(var(--displayHeight) - 35vh);
}

.charts-container h1 {
	font-family: DxGrafik;
	font-size: 1.5rem;
	color: var(--accent1);
}

.trash-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background2);
	left: 50%;
	transform: translateX(-50%);
	position: fixed;
	width: calc(var(--displayWidth) + 2 * var(--paddingLR));
	height: 100%;
	padding-top: calc(2 * var(--paddingLR)) 0;
	/* margin-bottom: var(--paddingLR); */
}

.trash-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.trash-img img {
	aspect-ratio: 1/1;
	height: 15vh;
	padding: 0 3vh;
}

.trash-info {
	padding: var(--paddingLR);
	background-color: var(--background1);
	border-radius: 25px 25px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-trash-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.card-trash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* height: 27vh; */
	background-color: blue;
	border-radius: 15px;
	padding: 2vh 0;
}

.card-trash img {
	aspect-ratio: 1/1;
	height: 10vh;
	padding: 2vh;
}

.card-trash h2 {
	color: white;
	text-align: center;
	margin: 0;
	width: 100%;
}

.card-hint {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* height: 15vh; */
	background-image: linear-gradient(to right, var(--accent1), var(--accent2));
	border-radius: 15px;
	padding: 2vh 0;
	color: var(--background1);
}

.card-hint h2 {
	font-size: 1.2rem;
	margin: 0 2vh;
}

.card-hint p {
	font-size: 0.8rem;
	margin: 1vh 2vh;
}

.calendar-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: calc(var(--displayHeight) - var(--paddingLR) - 10.5vh);
	padding-top: var(--paddingLR);
	gap: 5vh;
}

.calendar-date {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: baseline;
	gap: 2vh;
	/* padding: 0 0 5vh 0; */
}

.day {
	color: var(--accent1);
	font-size: 2rem;
	margin: 0;
}

.date {
	color: var(--accent1);
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0;
}

.arrow {
	border: none;
	background-color: transparent;
	font-size: 2rem;
	cursor: pointer;
	padding: 0;
}

.calendar-text {
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	margin-bottom: 6vh;
}

.card-calendar-container {
	width: 100%;
	height: 100%;
}

.card-calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: blue;
	border-radius: 15px;
}

.card-calendar img {
	aspect-ratio: 1/1;
	height: 20vh;
	padding: 2vh;
}

.card-calendar hr {
	width: 80%;
}

.card-calendar h2 {
	color: white;
	text-align: center;
	margin: 0;
	width: 100%;
	font-size: 2rem;
}

.user-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2vh;
	width: 100%;
	height: calc(var(--displayHeight) - var(--paddingLR) - 10.5vh);
	padding-top: var(--paddingLR);
}

.user-img {
	display: flex;
	flex-direction: column;
}

.user-img .propic {
	height: 25vh;
}

.user-img .edit-icon {
	text-align: right;
	transform: translateY(-8.5vh) translateX(2vh);
	cursor: pointer;
	height: 0vh;
}

.user-info-container {
	background-color: var(--background2);
	width: calc(44.2vh - 8vh);
	padding: 3vh;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2vh;
}

.user-info-container * {
	margin: 0;
}

.user-info-container .edit-btn {
	background-color: var(--accent2);
	border: none;
	border-radius: 50px;
	padding: 10px 25px;
	color: white;
	cursor: pointer;
}

.user-info-container .favourites-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.user-info-container .favourites-container .favourite-icon {
	width: 8vh;
	aspect-ratio: 1/1;
}

.edit-user {
	gap: 5vh;
}
